<%- include("head") -%>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel porro error molestiae adipisci. Maxime autem tempora quisquam! Illo ducimus error ab optio!</p>
<%- include("footer") -%>